TGF_data_for_research/*
.DS_Store
Data/FULL_DATA/*
Data/Location/*LLA*.csv
Data/FULL_REORDERED_DATA
Data/Logs
Data_Analysis/Data_Download/full_data_download/*.dat
Data_Analysis/Data_Download/full_data_download/COMPLETE
Data_Analysis/Data_Download/full_data_download/*.txt
Data_Analysis/Data_Download/full_data_download/*.json
.vscode
Geant_BG_Model/build/*
*.ipynb_checkpoints
Data/RAW
Data/TAIL
Data/Light1-tvac
Data_Analysis/Defined_Logs
Data_Analysis/Background_Model/Data
Data_Analysis/Background_Model/spectra
Data_Analysis/logfile_fixing
*.psd
*.NEF*
__pycache__